
/* Fonts for all*/
html, body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 15px;
}
*  { box-sizing: border-box; }

.titles {
  text-align: center;
}
.first-title {
  font-size: 1.5em;
  font-weight: 200;
  color: hsl(229, 6%, 66%);
  margin: 50px 0 15px 0; 
}
.second-title {
  font-size: 1.5em;
  font-weight: 600;
  color: hsl(240, 3%, 29%);
}
.intro p {
  color: hsl(0, 0%, 75%);
  text-align: center;
  padding: 20px;
  margin: auto;
  width: 100%;
}
.cards-container {
  display: flex;
  flex-direction: column;
}
.card-title {
  font-size: 1.17em;
  font-weight: 600;
  padding: 25px;
}
.text-card {
  padding: 10px 25px;
}
img {
  float: right;
  padding-right: 30px;
  max-width: 100%;
  height: auto;
}
.cyan{
  border-top: 3px solid hsl(180, 62%, 55%);
  border-radius: 5px;
}
.red {
  border-top: 3px solid hsl(0, 78%, 62%);
  border-radius: 5px;
}
.orange {
  border-top: 3px solid hsl(34, 97%, 64%);
  border-radius: 5px;
}
.blue {
  border-top:3px solid hsl(212, 86%, 64%);
  border-radius: 5px;
}
/* .box1 {
  grid-row-start: 2;
  grid-column-start: 1;
  justify-self: right;
}
.box2 {
 grid-column-start: 2;
 grid-row-start: 1;
 justify-self: center;
 margin-bottom: -75px;
}

.box3 {
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: center;
  margin-top: -75px;
 }

 .box4 {
   grid-column-start: 3;
   grid-row-start: 2;
   justify-self: left;
 } */

.cards {
  align-self: center;
  width: 300px;
  margin-bottom: 20px;
  height: 220px;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 5px lightgrey;
}
/*footer*/
.attribution { 
  bottom: 0;
  width: 100%;
  font-size: 11px;
  text-align: center;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* @media (min-width: 320px) and (max-width: 425px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro p {
    width: 100%;
    padding: 15px;
  }
  .cards {
    margin-bottom: 15px;
  }

  .second-title {
    margin-bottom: 15px;
  }
  body {
    height: auto;
  }
  .box3 {
    margin-top: 0;
  }
  .attribution {
   position: relative;
   width: 100%;
   padding: 29px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
 
 body {
  width: 140%;
 }
 .attribution {
   width: 140%;
 }
 .cards {
   width: 300px;
   height: 200px;
 }
}
 */
 @media screen and (min-width: 750px) {
  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cards {
    margin: 40px 20px 30px 0;
  }
  .attribution {
    position: fixed;
    padding: 3vh;
  }
  .intro {
    width: 550px;
    margin: auto;
  }
 }
 @media screen and (min-width: 960px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
  }
  .box1 {
    grid-row-start: 2;
    grid-column-start: 1;
    justify-self: center;
  }
  .box2 {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: center;
 
   }
   .box3 {
    grid-column-start: 2;
    grid-row-start: 3;
    justify-self: center;
   }
   .box4 {
    grid-column-start: 3;
    grid-row-start: 2;
    justify-self: center;
    }
    .cards {
      margin: 0;
      margin-bottom: -75px;
    }
   
}
@media screen and (min-width: 1050px) {
  .first-title  {
    font-size: 2em;
  }
  .second-title {
    font-size: 2em;
  }
  main {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
  .cards-container {
    margin-top: 20px;
  }
  .cards {
    margin: 0px 15px -75px;
    width: 325px;
    height: 250px;
  }
  img {
    margin-top: 40px;
  }
}